{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}
    <div class="about_page">
            <div class="about_outer">
                <div class="about">
                    <h1>Education has never been better</h1>
                    <h5>Producing world class leaders since 2006</h5>
                    <a><button class="external_but">Enroll Now</button></a>
                </div>
            </div>
            <div class="about_section">
                <div class="section">
                    <div>
                        <br>
                        <div class="text-centred">
                            <h1>WHO ARE WE?</h1>
                            <p><h6>TAKING EDUCATION TO THE PEAK FOR A BRIGHTER TOMORROW</h6></p>
                            <p>Our mission is to raise leaders of tomorrow with the discernment to 
                               make decisions in a world where corruption and vices are celebrated.
                            </p>
                            <p>
                                With the combination of our vast team with divast fields of expertise and 
                                comprehensive comprehension on the heuristics of how education is meant to be practiced we 
                                have been able to setup a conducive environment for our students. Over the years
                                we here at FPS have focused on the betterment of the educational system as well as
                                that of our students and staff.
                            </p>
                            <p>
                                We truly believe that the children are the future and are sternly devoted to ensuring they
                                get quality education as well as making sure they enjoy the best of their childhood. So what are you waiting for 
                                stop right here at any of our branches or contact us online and <b><a href="/enroll">Enroll</a></b> your child today.
                            </p>
                        </div>
                    </div>
                </div>
        
                <span class="section" id="back">
                </span>   
            </div>

  
        </div>
{% endblock %}