{% extends "layout.html" %}

{% block title %}
    FPS: Enquiries
{% endblock %}

{% block main %}
<div class="about_page">
    <div class="about_outer2">
        <div class="about">
            <div class="text-centred">
                <h1>Have something you want to ask? Let's talk</h1>
                <br>
                <h6>Please take a quick moment to complete this form</h6>
                <h6>and a business representative will get back to you</h6>
                <h6>swiftly.</h6>
                <br>
            </div>
            <section class="user_section">
                        <div class="enq_section">
                            <div>
                                <br>
                                <h6 style="font-size: small;">MAIN BRANCH ADDRESS</h6>
                                <div style="color: lightgray;">
                                    <h6 style="font-size: small;">Behind CDA Market,</h6>
                                    <h6 style="font-size: small;">Ogombo Road, Lagos State</h6>
                                </div>
                                <br>
                                <h6 style="font-size: small;">CALL US</h6>
                                <div style="color: lightgray;">
                                    <h6 style="font-size: small;">+2348115078789</h6>
                                    <h6 style="font-size: small;">+2347068923228</h6>
                                </div>
                                <br>
                                <h6 style="font-size: small;">EMAIL</h6>
                                <div style="color: lightgray;">
                                    <h6 style="font-size: small;">friendswoodschools@gmail.com</h6>
                                </div>
                            </div>
                        </div>
                        <div class="enq_sections">
                            <div>
                                <form action="/enquiries" method="post">
                                    <div class="mb-3">
                                        <input type="text" placeholder="Full Name*" name="name">
                                    </div>
                                    <div class="mb-3">
                                        <input type="email" placeholder="Email Address*" name="email">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" placeholder="Phone Number*" name="number">
                                    </div>
                                    <div class="mb-3">
                                        <textarea  class="textarea" placeholder="Enter your Message" name="message"></textarea>
                                    </div>
                                    <p style="text-align: center;">
                                        <button class="reg_but"><b>Submit</b></button>
                                    </p>
                                </form>
                            </div>
                        </div>
                        <div class="enq_section">
                            <div style="margin: 0px 40px;">
                                <div>
                                    <br>
                                    <h6 style="font-size: small;">WHAT YOU GET</h6>
                                    <div style="color: lightgray;">
                                        <h6 style="font-size: small;">An email or phone call</h6>
                                        <h6 style="font-size: small;">A briefing of our services</h6>
                                        <h6 style="font-size: small;">An in-person meeting</h6>
                                    </div>
                                </div>
                            </div>
                     </div>
            </section>
            <br>
                      <div>
                    <!-- Adding contact section in page-->
                      <h1 class="text-centred">Keep in touch</h1>
                      <br>
                          <section class="user_section">
                              <div class="section" style="background: darkblue;">
                              </div>
                          
                              <div class="section" style="padding: 20px;">
                                  <div class="container2">
                                      <a href="#">
                                          <div class="g-sign-in-button">
                                              <div class="content-wrapper">
                                                  <div class="logo-wrapper">
                                                      <img src="static/art/instagram.png">
                                                  </div>
                                                  <span class="text-container">
                                                      <span>Instagram</span>
                                                  </span>
                                              </div>
                                          </div>
                                      </a>
                                  </div>
                                  <div class="container2">
                                      <a href="#">
                                          <div class="g-sign-in-button">
                                              <div class="content-wrapper">
                                                  <div class="logo-wrapper">
                                                      <img src="static/art/facebook.png">
                                                  </div>
                                                  <span class="text-container">
                                                      <span>Facebook</span>
                                                  </span>
                                              </div>
                                          </div>
                                      </a>
                                  </div>
                                  <div class="container2">
                                      <a href="#">
                                          <div class="g-sign-in-button">
                                              <div class="content-wrapper">
                                                  <div class="logo-wrapper">
                                                      <img src="static/art/youtube.png">
                                                  </div>
                                                  <span class="text-container">
                                                      <span>Youtube</span>
                                                  </span>
                                              </div>
                                          </div>
                                      </a>
                                  </div>
                                  <div class="container2">
                                      <a href="#">
                                          <div class="g-sign-in-button">
                                              <div class="content-wrapper">
                                                  <div class="logo-wrapper">
                                                      <img src="static/art/facebook.png">
                                                  </div>
                                                  <span class="text-container">
                                                      <span>Twitter</span>
                                                  </span>
                                              </div>
                                          </div>
                                      </a>
                                  </div>
                              </div>    
                          </section>
        </div>
    </div>
</div>
{% endblock %}