{% extends "layout.html" %}

{% block title %}
    FPS: Enquiries
{% endblock %}

{% block main %}
<div class="about_page">
    <div class="about_outer2">
        <div class="about">
            <section class="user_section">
                        <div class="enq_section"></div>
                        <div class="enq_sections">
                            <div class="text-centred">
                                <h1>Message has been sent</h1>
                                <h6>You will be contacted soon</h6>
                            </div>
                        </div>
                        <div class="enq_section"></div>
            </section>
            <br>
        </div>
    </div>  
</div>
{% endblock %}