{% extends "layout2.html"%}

{% block title %}
    FPS: Reset password
{% endblock %}

{% block main %}
    <div class="element">
        <div id="inner">
            <h3 style="text-align: center;">Reset Password</h3>
            <br>
            <div class="mb-3">
                <h6>Fill in the form*</h6>
                <select>
                    <option disabled selected>User category</option>
                    {% for i in user_cat %}
                        <option>{{i}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <input type="text" placeholder="Email Address" name="email">
            </div>
            <div class="mb-3">
                <p style="text-align: center;">
                    <button class="reg_but">Send Recovery Email</button>
                </p>
            </div>
        </div>
    </div>
{% endblock %}