{% extends "layout2.html" %}

{% block title %}
    FPS: Settings
{% endblock %}

{% block main %}
<section class="user_section">
    <div class="enq_section">
      <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-4">Settings</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <form action="/settings" method="get">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
              <input type="hidden" value="security" name="option">
              <button class="butlink">Security</button>
            </form>
          </li>
          <li>
            <form action="/settings" method="get">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
              <input type="hidden" value="payment" name="option">
              <button class="butlink">Payment</button>
            </form>
          </li>
          <li>
            <form action="/settings" method="get">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
              <input type="hidden" value="account-type" name="option">
              <button class="butlink">Account Type</button>
            </form>
          </li>
        </ul>
        <hr>
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>{{session["name"]}}</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="b-example-divider b-example-vr"></div>
    <div style="align-content: flex-start; width: 80%; background-color: white;">
      <h1 class="text-centred"><u>Security</u></h1>
      Change your password
  </div>
</section>
<br>
{% endblock %}